.hero {
  margin-bottom: 40px;
}

.container_big {
  max-width: unset;
  width: 100%;
}

.hero__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  max-width: 31.8125rem;
}

.title {
  font-weight: 600;
  font-size: 2.8125rem;
  color: #021206;
  margin-bottom: 0.444em;
}

.hero__title {
  font-size: 3.375rem;
  margin-bottom: 0.462em;
}
.hero__title span {
  color: #18CA90;
  position: relative;
  padding-right: 25px;
}
.hero__title span::before {
  position: absolute;
  content: "";
  width: 6.8px;
  height: 6.8px;
  right: 16px;
  bottom: 20px;
  background: #4EDAAC;
  border-radius: 50%;
  transform: rotate(-11.76deg);
}
.hero__title span::after {
  position: absolute;
  content: "";
  right: 6px;
  bottom: 20px;
  background: #4EDAAC;
  border-radius: 50%;
  transform: rotate(-11.76deg);
  width: 4.91px;
  height: 4.91px;
}

.text {
  line-height: 1.6;
  font-size: 1.125rem;
}
.text span {
  font-weight: 500;
}

.hero__text {
  font-size: 1.3125rem;
  margin-bottom: 1.428em;
}

.hero__form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.333em;
}

.hero__form {
  border-radius: 6px;
  background-color: white;
  box-shadow: -5px 5px 45px rgba(2, 18, 6, 0.15);
  max-width: 92.73%;
  padding-top: 0.333em;
  padding-bottom: 0.333em;
  transition: box-shadow 0.2s ease-in;
  margin-bottom: 1.944em;
}
.hero__form_active {
  box-shadow: -5px 5px 45px rgba(2, 18, 6, 0.24);
}

.hero__button {
  margin-right: 0.333em;
}

.hero__form-email {
  flex-grow: 1;
  margin-right: 5px;
}

.hero__send {
  color: white;
}

.hero__links {
  max-width: 64.9%;
  display: flex;
  justify-content: space-between;
}

.hero__link {
  display: flex;
  justify-content: space-between;
  color: #021206;
  opacity: 0.7;
}
.hero__link:hover {
  opacity: 1;
}
.hero__link img {
  margin-right: 20px;
}
.hero__link p {
  font-size: 1.1255rem;
  line-height: 1;
}
.hero__link p span {
  display: block;
  font-size: 0.8125rem;
  line-height: 1;
  margin-bottom: 2px;
}

.hero__bg {
  position: relative;
  margin-right: -140px;
}
.hero__bg:before {
  position: absolute;
  content: "";
  top: 4%;
  left: 12%;
  z-index: -1;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FEDF8B 0%, #FFC16B 100%), linear-gradient(180deg, #FFE6A2 0%, #F9D678 100%);
  box-shadow: -4px 1px 80px rgba(246, 216, 135, 0.7);
}
.hero__bg:after {
  position: absolute;
  content: "";
  bottom: 8%;
  right: 7%;
  z-index: -1;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: linear-gradient(176.15deg, #8EE7CA 19.68%, #87D2BA 96.85%);
  box-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}
.hero__bg .circles-wrapper {
  position: absolute;
}

.little-circles {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: relative;
}
.little-circles::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.little-circles::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.little-circles_yellow {
  left: 153px;
  top: -504px;
  background: #FFF4DD;
}
.little-circles_yellow::after {
  background: #FFF4DD;
  right: 303%;
  bottom: 0;
}
.little-circles_yellow::before {
  background: #FFF4DD;
  left: -9%;
  bottom: 303%;
}

.little-circles_green {
  right: -774px;
  bottom: 89px;
  background: #C1F0E1;
}
.little-circles_green::after {
  background: #C1F0E1;
  right: -37%;
  top: 303%;
}
.little-circles_green::before {
  background: #C1F0E1;
  left: 303%;
  bottom: -34%;
}

.phone {
  position: absolute;
  top: 35%;
  left: 7%;
  width: 149px;
  height: 296px;
}/*# sourceMappingURL=hero.css.map */